html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  font-size: 35px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Header styles start */

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 82px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}

/* Header styles end */

/* Intro styles start */

.intro {
  height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro_title {
  max-width: 619px;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro_subtitle {
  max-width: 546px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-bottom: 59px;
}

.search-form_info {
  display: flex;
  flex-wrap: wrap;
}

.search-form_wrap {
  border: 0;
}

.search-form_field {
  width: 297px;
  background: transparent url(../img/circle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  outline: none;
}

.search-form_field::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.search-form_submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
  background: #0656bf;
}

/* Intro styles end */

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits_wrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  position: relative;
}

.benefits_title {
  width: 100%;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits_card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits_card-icon {
  display: block;
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits_card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits_card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits_card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/arrow-right-icon.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefits_card-more:hover,
.benefits_card-more:focus {
  background: url(../img/arrow-right-icon.svg) no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}

.places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places_title {
  margin-right: 15px;
}

.places_view-all {
  color: #006dfe;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 59px;
  background: url(../img/arrow-right-icon.svg) no-repeat right center;
}

.places_view-all:hover,
.places_view-all:focus {
  opacity: 0.65;
}

.container_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places_card {
  position: relative;
  overflow: hidden;
}

.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places_card:hover .places_card-pic {
  transform: scale(1.05);
}

.places_card-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places_card-size_large {
  grid-column: span 3;
  margin: 0;
  height: 354px;
  object-fit: cover;
}

.places_card-size_small {
  grid-column: span 2;
  margin: 0;
  height: 283px;
  object-fit: cover;
}

.places_card-pic {
  width: 100%;
  transition: 0.15s all;
}

.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}


/* Places styles end */

/* Tours styles start */

.tours {
  margin-bottom: 139px;
}

.certain-tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour_info {
  padding-left: 47px;
}
.tour_title {
  color: #102746;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour_description {
  color: #102746;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour_link {
  color: #006dfe;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 59px;
  background: url(../img/arrow-right-icon.svg) no-repeat right center;
  /* transition: 0.2s all; */
}

.tour_link:hover,
.tour_link:focus {
  opacity: 0.65;
}

/* Tours styles end */

/* Top places styles start */

.top {
  margin-bottom: 86px;
}

.top_title {
  margin-bottom: 54px;
}

.top_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top_place {
  display: flex;
  flex-direction: column;
}

.top_place-pic {
  position: relative;
  margin-bottom: 45px;
}

.top_place-stats {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 16px 25px;
background: rgba(21, 24, 36, 0.60);
}

.top_place-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto 0 0;
}

.top_place-likes {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
  padding-right: 20px;
  background: url(../img/heart-icon.svg) no-repeat right;
  margin-right: 14px;
  }

  .top_place-comments {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 23px;
    background: url(../img/comments-icon.svg) no-repeat right;
  }

  .top_place-description {
    margin-bottom: 31px;
    color: #102746;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
  }

  .top_place_link {
    width: 118px;
    padding: 12px 19px;
    width: 118px;
    height: 42px;
    background: #006DFE;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    margin: auto 0 0 0;
  }

  .top_place_link:hover, .top_place_link:focus, .top_place_link:active {
    background: #0656bf;
  }

/* Top places styles end */
